name: "Get Next Version"

on:
  workflow_call:
    outputs:
      next_version:
        value: ${{ jobs.version.outputs.next_version }}

defaults:
  run:
    shell: bash

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      next_version: ${{ steps.next_version.outputs.next_version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get Latest Release Tag
        id: latest_release
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
        with:
          prefix: "release/uat/"
          fallback: 1.0.0

      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v3
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          semantic_version: 19

      - name: Calculate Next Version
        id: next_version
        run: |
          re="[^0-9]*([0-9]+)\.([0-9]+)\.([0-9]+)\+?([0-9]+)?"
          last_version="${{ steps.latest_release.outputs.tag }}"
          new_version="${{ steps.semantic.outputs.new_release_version }}"
          if [ -z "$new_version" ]
          then next_version=$last_version
          else next_version=$new_version; fi
          major=$(echo "$next_version" | sed -E "s/$re/\1/")
          minor=$(echo "$next_version" | sed -E "s/$re/\2/")
          patch=$(echo "$next_version" | sed -E "s/$re/\3/")
          build=$(echo "$last_version" | sed -E "s/$re/\4/")
          ((build++)) || true
          echo "next_version=$major.$minor.$patch+$build" >> $GITHUB_OUTPUT
